@model RegisterViewModel

<section class="register-form-container">
    <h2>Register</h2>
    <form asp-controller="Account" asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="custom-text-danger"></div>
        <div class="form-group">
            <div class="row">
                <div class="column">
                    <label for="username">Username</label>
                    <input type="text" id="username" asp-for="Username" class="form-control" required>
                    <span asp-validation-for="Username" class="custom-text-danger"></span>
                </div>
                <div class="column">
                    <label for="password">Password</label>
                    <input type="password" id="password" asp-for="Password" class="form-control" required>
                    <span asp-validation-for="Password" class="custom-text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" asp-for="FirstName" class="form-control" required>
                    <span asp-validation-for="FirstName" class="custom-text-danger"></span>
                </div>
                <div class="column">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" asp-for="LastName" class="form-control" required>
                    <span asp-validation-for="LastName" class="custom-text-danger"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</section>
